/* line 2, ../sass/style.scss */
.menu {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* line 8, ../sass/style.scss */
.menu ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
  position: relative;
  display: inline-table;
}
/* line 15, ../sass/style.scss */
.menu ul li:hover > ul {
  display: block;
}
/* line 16, ../sass/style.scss */
.menu ul li > a {
  padding: 10px 12px;
  text-transform: uppercase;
  font-family: sans-serif;
}
/* line 22, ../sass/style.scss */
.menu ul ul {
  display: none;
  position: absolute;
  top: 100%;
  color: #808080 !important;
  background: #F4F4F4;
}
/* line 28, ../sass/style.scss */
.menu ul ul > li {
  position: relative;
  border-bottom: 2px solid white;
  padding-left: 30px !important;
  padding-right: 30px !important;
}
/* line 33, ../sass/style.scss */
.menu ul ul > li a:hover {
  color: #F27420;
}
/* line 36, ../sass/style.scss */
.menu ul ul > li a {
  height: auto;
  background-color: #f4f4f4;
}
/* line 41, ../sass/style.scss */
.menu ul ul ul {
  position: absolute;
  left: 100%;
  top: 0;
}
/* line 47, ../sass/style.scss */
.menu ul li {
  padding: 0px;
}
/* line 49, ../sass/style.scss */
.menu ul li a {
  display: block;
  text-decoration: none;
  color: #999;
  font-size: .9em;
}
/* line 55, ../sass/style.scss */
.menu ul li > ul.sub-menu {
  min-width: 10em;
  padding: 4px 0;
  background-color: #f4f4f4;
}
/* line 62, ../sass/style.scss */
.menu li.has-submenu > a > .dropdown-icon {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: inset 5px;
  border-color: rgba(0, 0, 0, 0.4) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
  border-top-style: solid;
  float: right;
  margin-top: 5px;
  margin-left: 5px;
}
/* line 73, ../sass/style.scss */
.menu > ul > li {
  display: inline-block;
}

/* line 78, ../sass/style.scss */
.menu-link {
  display: none;
}

@media all and (max-width: 826px) {
  /* line 83, ../sass/style.scss */
  .container {
    width: 100%;
  }

  /* line 86, ../sass/style.scss */
  a.menu-link {
    display: block;
    color: #999;
    float: right;
    text-decoration: none;
    padding: 0 15px;
  }

  /* line 93, ../sass/style.scss */
  .menu {
    clear: both;
    min-width: inherit;
    float: none;
    width: 100%;
  }
  /* line 99, ../sass/style.scss */
  .menu > li > ul.sub-menu {
    padding: 0px;
    border: none;
  }
  /* line 102, ../sass/style.scss */
  .menu ul {
    display: inline;
  }
  /* line 105, ../sass/style.scss */
  .menu > ul {
    border-top: 1px solid #808080;
  }
  /* line 108, ../sass/style.scss */
  .menu li, .menu > ul > li {
    display: block;
  }
  /* line 111, ../sass/style.scss */
  .menu li a {
    color: #000;
    display: block;
    padding: 0.8em;
    position: relative;
  }
  /* line 117, ../sass/style.scss */
  .menu ul ul, .menu ul ul ul {
    display: inherit;
    position: relative;
    left: auto;
    top: auto;
    border: none;
  }

  /* line 125, ../sass/style.scss */
  .menu, .menu > ul ul {
    overflow: hidden;
    max-height: 0;
    background-color: #f4f4f4;
  }

  /* line 131, ../sass/style.scss */
  .menu.active, .menu > ul ul.active {
    max-height: 55em;
  }
}
